html {
    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}
* {
    box-sizing: inherit;
    /*
    Prevent the browser rendering faux bold/italics for fonts without appropriate variants.
    See: https://drafts.csswg.org/css-fonts-3/#propdef-font-synthesis
    */
    font-synthesis: none;
}
body {
    margin: 0px;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

body,
input,
select,
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 11px;
}

div,
body {
    outline: none;
}

body input.component:focus {
    border-width: 10 !important;
    border-color: #85f !important;
}

