html {
    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

body {
    margin: 0px;
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

#Container{
	position: relative;
	width: 450px;
	height: 1080px;
	margin: auto;
}

#phone{
	width: 440px;
	height: 875px;
	position: absolute;
	
}
	

#screenImage{
	width: 358px;
	height: 715px;
	position: absolute;
	top: 72px;
	left: 41px;
    z-index: 10;
}